<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Golang Chat App (WebScoket)</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var conn;
            var msg = $("#msg");
            var log = $("#log");
            function appendLog(msg) {
                var d = log[0];
                console.log(log);
                var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
                msg.appendTo(log);
                if (doScroll) {
                    d.scrollTop = d.scrollHeight - d.clientHeight;
                }
            }
            $("#form").submit(function() {
                if (!conn) {
                    return false;
                }
                if (!msg.val()) {
                    return false;
                }
                conn.send(msg.val());
                msg.val("");
                return false
            });
            if (window["WebSocket"]) {
                conn = new WebSocket("ws://{{$}}/ws");
                conn.onclose = function(evt) {
                    appendLog($("<div class=\"text-danger\"><b>Connection closed!.</b></div>"));
                };
                conn.onmessage = function(evt) {
                    appendLog($("<div/>").text(evt.data));
                };
            } else {
                appendLog($("<div class=\"text-danger\"><b>Your browser does not support WebSockets!.</b></div>"));
            }
        });
    </script>
    <style>
        body {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        button {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="log" class="well well-lg"></div>
    </div>
    <div class="row">
        <form id="form">
            <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Send!</button>
            </span>
            <input type="text" class="form-control" id="msg" placeholder="Type some message here..." autofocus="on">
            </div>
        </form>
    </div>
</div>
</body>
</html>